name: sportpedia_mobile
description: "SportPedia - Gerbang Olahragamu. Langkah Pertama Menuju Arena."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  # HTTP requests untuk pemanggilan async ke web service
  http: ^1.2.0
  
  # State management
  provider: ^6.1.1
  
  # Django auth integration (session management)
  pbp_django_auth: ^0.4.0
  
  # Intl untuk formatting
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
